@model appVelas.Models.Vela

@{

    List<Mecha> mechas = ViewData["Mecha"] as List<Mecha>;
    List<Molde> moldes = ViewData["Moldes"] as List<Molde>;
    List<Fragancia> frag = ViewData["Frag"] as List<Fragancia>;
    List<Pigmento> pig = ViewData["Pig"] as List<Pigmento>;
    List<Cera> cera = ViewData["Cera"] as List<Cera>;

}

<h4>Vela</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_ActVelaView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="IDVela" class="control-label"></label>
            <input asp-for="IDVela" class="form-control" />
            <span asp-validation-for="IDVela" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="VelaNombre" class="control-label"></label>
                <input asp-for="VelaNombre" class="form-control" />
                <span asp-validation-for="VelaNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observ" class="control-label"></label>
                <input asp-for="Observ" class="form-control" />
                <span asp-validation-for="Observ" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Endurecedor" /> @Html.DisplayNameFor(model => model.Endurecedor)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaReal" class="control-label"></label>
                <input asp-for="FechaReal" class="form-control" />
                <span asp-validation-for="FechaReal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVenta" class="control-label"></label>
                <input asp-for="FechaVenta" class="form-control" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradFrag" class="control-label"></label>
                <input asp-for="GradFrag" class="form-control" />
                <span asp-validation-for="GradFrag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradPig" class="control-label"></label>
                <input asp-for="GradPig" class="form-control" />
                <span asp-validation-for="GradPig" class="text-danger"></span>
            </div>
            @*Por defecto la de siempre*@
            <div class="form-group">
                <label asp-for="IDMecha" class="control-label">Mecha:</label>
                <select name="IDMecha" id="IDMecha" class="form-control">

                    @foreach (var item in mechas)
                    {
                        <option value="@item.IDMecha">@item.Firma</option>
                    }
                </select>
            </div>


            @*Por defecto la de siempre*@
            <div class="form-group">
                <label asp-for="IDCera" class="control-label">Cera:</label>
                <select name="IDCera" id="IDCera" class="form-control">

                    @foreach (var item in cera)
                    {
                        <option value="@item.IDCera">@item.Tipo</option>
                    }
                </select>
                @*<span asp-validation-for="IDCera" class="text-danger"></span>*@
            </div>


            @*lista de nombres de los moldes, puedes buscarlos escribiendo*@
            <div class="form-group">
                <label asp-for="IDMolde" class="control-label">Molde:</label>
                <select name="IDMolde" id="IDMolde" class="form-control">

                    @foreach (var item in moldes)
                    {
                        <option value="@item.IDMolde">@item.MoldeNombre</option>
                    }
                </select>
            </div>

            @*lista de nombres de las fragancias, puedes buscarlas escribiendo*@
            <div class="form-group">
                <label asp-for="IDFrag" class="control-label">Fragrancia/s</label>
                <select name="IDFrag" id="IDFrag" multiple class="form-control">

                    @foreach (var item in frag)
                    {
                        <option value="@item.IDFrag">@item.FragNombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="IDPig" class="control-label">Color/es</label>
                <select name="IDPig" id="IDPig" multiple class="form-control">

                    @foreach (var item in pig)
                    {
                        <option value="@item.IDPig">@item.ColorNombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Coste" class="control-label"></label>
                <input asp-for="Coste" class="form-control" />
                <span asp-validation-for="Coste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDPedido" class="control-label"></label>
                <input asp-for="IDPedido" class="form-control" />
                <span asp-validation-for="IDPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
