@model IEnumerable<appVelas.Models.Pedido>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDVela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDVela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCliente)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "_ActPedidoView", new { IDPedido = item.IDPedido }) |
                @Html.ActionLink("Detalles", "_DetallesPedidoView1", new { IDPedido = item.IDPedido }) @*|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
