@model appVelas.Models.Molde

<div>
    <h4>Molde</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDMolde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDMolde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompradoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompradoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GramCera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GramCera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medidas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMMecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMMecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilAgua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilAgua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDVela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDVela)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Actualizar", "_ActMoldeView", new { IDMolde = Model.IDMolde }) |
    <a asp-action="Index">Back to List</a>
</div>
