@model IEnumerable<appVelas.Models.Fragancia>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDFrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FragNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompradoEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDVela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDFrag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FragNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompradoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDVela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coste)
            </td>
            <td>

                @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
                @Html.ActionLink("Actualizar", "_ActFragView", new { IDFrag = item.IDFrag }) |
                @Html.ActionLink("Detalle", "_DetallesFragView1", new { IDFrag = item.IDFrag})
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
