@model IEnumerable<appVelas.Models.Vela>

@{
    // List<Vela> velas = ViewData["VELAS"] as List<Vela>;
    string IDCera = ViewData["IDCera"] as string;

    Molde molde=  ViewData["Moldes"]  as Molde;
    Fragancia frag = ViewData["Frag"] as Fragancia ;
    Pigmento pig  = ViewData["Pig"]  as Pigmento;
    Cera  cera = ViewData["Cera"]  as  Cera;
    Mecha mecha  = ViewData["Mecha"]  as Mecha;
    Vela vela = ViewData["VELA"]  as Vela;
    string clien = ViewData["clien"] as string;
    Pedido pedi = ViewData["pedi"]  as Pedido;

}


<div class="col-md-4" style="margin-left: 3%;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VelaNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coste)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endurecedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaReal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaVenta)
                </th>
                <th>
                    ºC Fragancia
                </th>

                <th>
                    Fragancia
                </th>
                <th>
                    ºC Pig
                </th>
                <th>
                    Pigmento
                </th>

                <th>
                    Molde
                </th>


                <th>
                    Fecha pedido
                </th>
                <th>
                    Fecha Entrega
                </th>
                <th>Cliente</th>

                <th>
                    Mecha
                </th>
                <th>
                    Cera
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Observ)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.IDVela)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.VelaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endurecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradFrag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradPig)
                </td>
                <td>
                    @pig.ColorNombre
                </td>
                <td>
                    @frag.FragNombre;
                </td>
                <td>
                    @molde.MoldeNombre;
                </td>

                <td>
                    @pedi.FechaPedi
                </td>
                <td>
                    @pedi.FechaEntrega
                </td>
                <td>@clien</td>
                <td>
                    @mecha.Tipo
                </td>
                <td>
                    @cera.Tipo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observ)
                </td>

                <td>
                    @Html.ActionLink("Actualizar", "_ActVelaView", new { IDVela = item.IDVela })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
