@model appVelas.Models.Pack

<div>
    <h4>Pack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDPack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDPack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompradoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompradoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDVela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDVela)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Actualizar", "_ActPackView", new { IDPack = Model.IDPack }) |
    <a asp-action="Index">Back to List</a>
</div>
