@model IEnumerable<appVelas.Models.Cera>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompradoEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDVela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompradoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDVela)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "_ActCeraView", new { IDCera = item.IDCera}) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IDCera}) 
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
